* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.wrapper {
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.main-photo {
    width: 370px;
    margin-top: 40px;
}

.contacts-container {
    padding-top: 57px;
    padding-left: 51px;
}

.tech-skills-container {
    padding-top: 54px;
    padding-left: 51px;
}

.about-me-container {
    padding-top: 108px;
    padding-bottom: 20px;
    padding-right: 10px;
}

aside {
    width: 370px;
    background-color: #81708e;
    border-radius: 20px;
    margin-right: 89px;
    padding-bottom: 80px;
    color: azure;
}

aside a {
    color: cornsilk;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}

aside li {
    list-style-type: disc;
    color: #ff6b08;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
}

aside span {
    color: #fff;
}

.skills-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.contacts-container span {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.42px;
    margin-right: 10px;
}

.soft-skills-container {
    padding-top: 54px;
    padding-left: 51px;
}

.profession {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-bottom: 23px;
}

.my-name {
    color: #000000;
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}

.description {
    width: auto;
    height: 107px;
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-top: 24px;
}

.projects {
    margin-top: 65px;
    margin-bottom: 55px;
}

.projects ol a {
    color: #626262;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: none;
}

.projects ol li {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-left: 17px;
}

.experience {
    color: darkred;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.tech-name {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.points {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.career {
    color: #000000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.48px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.workplace {
    color: #ff6b08;
}

.profession-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.36px;
}

.profession-devider {
    color: #000;
}

.profession-dutes {
    margin-top: 14px;
    margin-bottom: 30px;
}

.profession-dutes li {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-left: 17px;
}

.speciality {
    margin-bottom: 14px;
}

.education {
    margin-bottom: 80px;
}