* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
}

.wrapper {
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
}

.aside {
    width: 370px;
    background-color: #81708e;
    border-radius: 20px;
    float: left;
    clear: both;
    margin-right: 89px;
    padding-bottom: 80px;
    color: azure;
}

.aside a {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}

.aside li {
    list-style-type: circle;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}

.main-photo {
    width: 370px;
    margin-top: 40px;
}

.contacts-container {
    padding-top: 57px;
    padding-left: 51px;
}

.tech-skills-container {
    padding-top: 54px;
    padding-left: 51px;
}

.soft-skills-container {
    padding-top: 54px;
    padding-left: 51px;
}

.about-me-container {
    padding-top: 108px;
    padding-bottom: 20px;
    padding-right: 10px;
}